<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= button_to "Say Hello Async", hello_path, remote: true %>

<% if current_user %>
  <h1>Admin: <%= current_user.admin? %></h1>
  <%= link_to "Monitor Jobs", sidekiq_web_path %>
  <%= link_to "Logout", destroy_user_session_path, data: { turbo_method: "delete"} %>
<% else %>
  <%= link_to "login", new_user_session_path  %>
<% end %>
